!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title RubylogicTask
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      - if flash[:notice].present?
        %h2.alert.alert-info= flash[:notice]
      - if flash[:error].present? 
        %h2.alert.alert-danger= flash[:error]
      = yield
